<div *ngIf="task" class="mt-2">
  <h4>Edit Task</h4>
  <!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>Name: </b>{{ todoItem.name }}</h5>
      <p class="card-text"><b>Description: </b> {{ todoItem.description }}</p>
      <p class="card-text"><b>Status: </b> {{ Status[todoItem.status] }}</p>

      <button class="btn btn-danger"
              (click)="delete()">Delete</button>
    </div>
  </div> -->
  <div class="form-group">

    <h6>Task Name</h6>
    <input (input)="setName($event)"
            type="text"
            class="form-control"
            id="task-name"
            value="{{ task.name }}">

      <h6>Task Description</h6>
    <input (input)="setDescription($event)"
            type="text"
            class="form-control"
            id="task-description"
            value="{{ task.description }}">

    <h6>Select Status</h6>
    <input (input)="setStatus($event)"
            [checked]="task.status === 1"
            type="radio"
            name="status"
            class="form-radio"
            id="status"
            [value]="1"
            > New
    <input (input)="setStatus($event)"
            type="radio"
            [checked]="task.status === 2"
            name="status"
            class="form-radio"
            id="status"
            value="2"
            > Ready For Test
    <input (input)="setStatus($event)"
            type="radio"
            [checked]="task.status === 3"
            name="status"
            class="form-radio"
            id="status"
            value="3"
            > In Progress
    <input (input)="setStatus($event)"
            type="radio"
            [checked]="task.status === 4"
            name="status"
            class="form-radio"
            id="status"
            value="4"
            > Closed
    <input (input)="setStatus($event)"
            type="radio"
            [checked]="task.status === 5"
            name="status"
            class="form-radio"
            id="status"
            value="5"
            > Needs Info

    <h6>Assigned To</h6>
    <input (input)="setAssignment($event)"
            type="text"
            class="form-control"
            id="todo-name"
            value="{{ task.assignedTo }}">
  </div>
  <button (click)="ls()" class="btn btn-primary">Update Task</button>
  <button class="btn btn-danger" (click)="delete()">Delete</button>

</div>
