<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <!-- <a class="navbar-brand" href="#">Todo list</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo-list">SCRUM Tool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/graphs">Data Visualization</a>
          </li>
          <li *ngIf="!givenName" class="nav-item">
            <a class="nav-link" (click)="login()">Login</a>
          </li>
          <li *ngIf="givenName" class="nav-item" style="float:right">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<!-- <h4 style="text-align:center; margin-top: 3%" id="remove" *ngIf="givenName"> <a routerLink="/todo-list">Welcome, {{ givenName }} </a></h4> -->
